<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-item>
        <ion-tab-button tab="timeline">
          <ion-icon name="newspaper"></ion-icon>
          <ion-label>Timeline</ion-label>
        </ion-tab-button>
      </ion-item>

      <ion-item>
        <ion-tab-button tab="message">
          <ion-icon name="mail"></ion-icon>
          <ion-label>Message</ion-label>
          <ion-badge color="danger">6</ion-badge>
        </ion-tab-button>
      </ion-item>

      <ion-item>
        <ion-tab-button tab="notifications">
          <ion-icon name="notifications"></ion-icon>
          <ion-label>Notifications</ion-label>
          <ion-badge color="danger">6</ion-badge>
        </ion-tab-button>
      </ion-item>

      <ion-item>
        <ion-tab-button tab="userprofile">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Profile</ion-label>
        </ion-tab-button>
      </ion-item>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
