ion-content {
  text-align: center;
  top: 25%;
  img {
    margin-bottom: 20px;
  }
}
form ion-item {
  padding: 10px;
  text-align: center;
}
ion-button {
  font-size: 20px;
}
ion-input {
  font-size: 20px;
}
